{% extends 'base.html' %}
{% block content %}
    <div class="pizza_show">
        <img src="{{pizza['image_url']}}">
        <h1>{{pizza['name']}}</h1>
        <h2>{{pizza['details']}}</h2>
        {% if user and comment %}
            <div class="user_comment">
                <form method="POST" action="/update-comment/{{pizza['_id']}}">
                    <div class="form-row">
                        <label>Rating</label>
                        <input type="number" name="rating" value="{{comment['rating']}}" min="1" max="5">
                    </div>
                    <div class="form-row">
                        <label>Details</label>
                        <input type="text" name="details" value="{{comment['details']}}"></input>
                    </div>
                    <div class="form-row form-row-buttons">
                        <button type="submit">Update</button>
                        <a href="/delete-comment/{{pizza['_id']}}">Delete</a>
                    </div>
                </form>
            </div>
        {% elif user %}
            <form method="POST" action="/add-comment/{{pizza['_id']}}">
                <div class="form-row">
                    <label>Rating</label>
                    <input type="number" name="rating" value="{{comment['rating']}}">
                </div>
                <div class="form-row">
                    <label>Details</label>
                    <input type="text" name="details"></input>
                </div>
                <div class="form-row">
                    <label></label>
                    <button type="submit">Enter</button>
                </div>
            </form>            
        {% endif %}
        <div class="pizza_ratings">
            <h2>Ratings</h2><br>
            {% for comment in comments %}
                {% set rating=comment['rating'] | int %}
                <div class="pizza_comment">
                    <div class="pizza_rating_amount">
                        {% for index in range(0, rating) %}
                            <div class="pizza_rating"></div>
                        {% endfor %}
                    </div>
                    <small>{{comment.timestamp.strftime('%m/%d/%Y')}}</small>
                    <p>{{comment.details}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}