{% extends 'base.html' %}
{% block content %}
    <h1>Pizzas</h1>
    <a class="btn" href="/">Go back</a>
    {% for pizza in pizzas %}
        <div class="pizza_item">
            <a href="/pizzas/{{pizza._id}}"><img src="{{pizza.image_url}}" alt=""></a>
            <h5>{{ pizza.name }}</h5>
            <form method="POST" action="/add_pizza">
                <input type="hidden" name="_id" value="{{ pizza._id }}">
                <input type="number" name="quantity">
                <button type="submit">Add</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}