{% extends 'base.html' %}
{% block content %}
    <div class="pizza_cart">
        {% if cart| length == 0 %}
            <header>
                <h1>Cart is Empty</h1>
            </header>
        {% else %}
            {% for key in cart %}
                {% if key != '_id' %}
                    <div class="pizza_item">
                        <a href="/pizzas/{{cart[key]['_id']}}">
                            <img src="{{cart[key]['image_url']}}" alt="">
                        </a>
                        <div class="pizza_info">
                            <h1>{{ cart[key]['name'] }}</h1>
                            <form method="POST" action="/update_cart">
                                <input type="hidden" name="_id" value="{{cart[key]['_id']}}">
                                <div class="pizza_amount">
                                    <input type="number" name="quantity" value="{{cart[key]['quantity']}}"><button type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}