{% extends 'base.html' %}
{% block content %}
    <div class="pizzas_registure">
        <h2>Registure</h2>
        {% if user_exist %}
            <div class="error"><p>That email is alread used</p></div>
        {% endif %}
        <form method="POST" action="/user-registure">
            <div class="form-row">
                <label>User Name</label>
                <input type="text" name="display_name" required>
            </div>
            <div class="form-row">
                <label>Email</label>
                <input type="text" name="email" required>
            </div>
            <div class="form-row">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="form-row">
                <button type="submit">Enter</button>
            </div>
        </form>
        <a href="/login">Back</a>
    </div>
{% endblock %}