{% extends 'base.html' %}
{% block content %}
    <div class="registure">
        <header>
            <h1>Registure</h1>
        </header>
        <form method="POST" action="/user-registure">
            {% if user_exist %}
                <div class="error"><p>That email is alread used</p></div>
            {% endif %}
            <div class="form-row">
                <label>User Name</label>
                <input type="text" name="display_name" required>
            </div>
            <div class="form-row">
                <label>Email</label>
                <input type="text" name="email" required>
            </div>
            <div class="form-row">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="form-row">
                <button type="submit">Enter</button>
            </div>
            <a href="/login">Return to login</a>
        </form>
    </div>
{% endblock %}